.Container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: relative;

  .Button {
    position: relative;
    font-size: 17px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1em 4em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 6em;
    transition: all 0.2s;
    border: solid 1px pink;
    font-family: inherit;
    font-weight: 500;
    color: black;
    background-color: white;
    margin-right: 60px;
    white-space: nowrap;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    &:active {
      transform: translateY(-1px);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    }

    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 100px;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all 0.4s;
      background-color: #fff;
    }

    &:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  .AvatarUsername {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid pink;
    border-radius: 6em;
    margin: 10px 10px 10px 10px;
    width: 120px;
    background-color: #faf0ca;
  }

  .MenuBox {
    position: absolute;
    margin-top: 100%;
    right: 10px;
    z-index: 1000;
  }

  .Avatar {
    margin: 10px;
    background-color: #f4d35e;
    color: black;
  }

  .Point {
    padding: 0;
    font-weight: 1000;
  }
}
