.heroSection {
    min-height: 50vh;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroContent {
    text-align: center; // Căn giữa nội dung
}

.heroTitle {
    font-size: 36px;
    font-weight: bold;
}

.heroDescription {
    font-size: 18px;
    margin-bottom: 20px;
}

.pointsSection {
    display: flex;
    justify-content: center; // Căn giữa số điểm và nút
    align-items: center;
    gap: 20px;
    margin-top: 20px;

    p {
        font-size: 24px;
        font-weight: 600;
        color: red;
    }

    button {
        display: flex;
        align-items: center;
    }
}

/* Style cho phần hình ảnh */
.imageContent {
    display: flex;
    justify-content: center; // Căn giữa hình ảnh
    align-items: center;
}

.heroImage {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

// Vouchers list
.voucherSection {
    margin: 100px 100px;
}

.voucherCard {
    background-color: #ffffff;
    max-width: 100%;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    transform: scale(1);
    cursor: pointer;

    &:hover {
        box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
        transform: scale(1.05);
    }
}

.cardHeader {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &.bgRed {
        background-color: #f56565; // Red-500
    }

    &.bgGreen {
        background-color: #48bb78; // Green-500
    }

    .voucherIndex {
        color: #ffffff;
        margin-left: 12px;
        margin-right: 12px;
        border: 2px solid #ffffff;
        padding: 8px 16px;
        border-radius: 9999px;
    }

    .voucherCode {
        margin-right: 80px;
        color: #ffffff;
        font-size: 1.125rem;
    }

    .voucherDiscount {
        margin-right: 16px;
        color: #ffffff;
        font-weight: 100;
        font-size: 1.125rem;
    }
}

.cardContent {
    padding: 24px 0;
    font-size: 1.125rem;
    margin-left: 64px;
    line-height: 1.75;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 8px;
    font-size: 0.875rem;
    color: #718096;
}