.footerContainer {
  background-color: #323232;
  padding: 2rem;
}

.footerContent {
  margin-bottom: auto;
}

.quoteContainer {
  flex: 1;
}

.quote {
  font-style: italic;
  text-align: left;
  color: white;
}

.footerColumn {
  display: flex;
  flex-direction: column;
}

.footerColumnWrapper {
  flex: 1;
  margin: 0 1rem;
}

.footerTitle {



  font-size: 1.1rem;
  font-weight: bold;
  color: #ffc300;
}

.footerCopyright {
  text-align: center;
  margin-top: 30px;
  color: #fff15c;

}

.footerLinks {
  list-style: none;
  padding: 0;
}

.footerLinkItem {
  margin-bottom: 0.5rem;
}

.footerLink {
  font-size: 1rem;
  color: #ffffff;
  cursor: pointer;
  &:hover {

    color: #fbf5bc;
  }
}

.footerCopyright {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #ffffff;
}

.footerText {
  font-size: 1rem;
  color: #ffffff;
}

.bookingBox {
  background-color: #a2a1a2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 450px;
  color: white;
}

.bookingTitle {
  margin-bottom: 10px;
  font-size: 18px;
}

.bookingButton {
  margin-top: 10px;
  background: linear-gradient(45deg, #fbf5bc, #dec5cf);
  color: #323232;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.bookingButton:hover {
  background: linear-gradient(45deg, #f07b9e, #fbbce8);
  color: #ffffff;

    color: #777777;
  }
}

.icon {
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
  color: rgb(141, 219, 227);

}
