@import "./share/styles/color.scss";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: $BACKGROUND_COLOR;
  overflow-x: hidden;
}
