.totalPrice {
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
}

.button {
  margin-top: 20px;
}

.cardContainer {
  .selected {
    border: 2px solid #ffc300;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
}
